/* Reset Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Styling Umum */
body {
    background-color: #f8f9fa;
    color: #333;
}

.container img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

/* Navigasi */
nav {
    background-color: #64abf7;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section */
section {
    padding: 50px 0;
}

#about, #projects, #contact {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Grid Layout untuk Proyek */
.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #f0f0f0;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
}
